<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!--css-->
        <link rel="stylesheet" href="css/main.css"/>
    </head>
    <body ng-app="SignUpApp">
        <div class="container-fluid header">
            <h1>Sign Up</h1>
            <blockquote>Our service is fun and awesome but you must be 13 years old to join</blockquote>
        </div>
        <div class="container-fluid">
            <img src="img/logo.png" class="image">
        </div>

        <div class="container-fluid content" conrtoller="FormCtrl">
            <form name="signUpForm" novalidate>
<!-- Email -->
                <div class="form-group" ng-class="{'has-error' : signUpForm.email.$invalid && !signUpForm.email.$pristine, 'has-success' : signUpForm.email.$valid}">
                    <label for="email">Email</label>
                    <input id="email" type="email" name="email" class="form-control" placeholder="email address" ng-model="email" ng-keyup="email()" required>
                    <p class="help-block" ng-show="signUpForm.email.$invalid && signUpForm.email.$touched && signUpForm.email.$pristine">Must enter an email</p> 
                    <p class="help-block" ng-show="signUpForm.email.$invalid && !signUpForm.email.$pristine">Must be a valid email</p> 
                </div>
                
<!-- First Name -->
                <label for="firstName">First Name</label>
                <input id="firstName" type="text" class="form-control" placeholder="your first name">
<!-- Last Name -->

                <div class="form-group" ng-class="{'has-error' : signUpForm.lastName.$invalid && !signUpForm.lastName.$pristine, 'has-success' : signUpForm.lastName.$valid}">
                    <label for="lastName">Last Name</label>
                    <input id="lastName" type="text" name="lastName" class="form-control" placeholder="your last name" ng-model="lastName" ng-keyup="lastName()" required>
                    <p class="help-block" ng-show="signUpForm.lastName.$invalid && signUpForm.lastName.$touched && signUpForm.lastName.$pristine">Must enter a last name</p> 
                    <p class="help-block" ng-show="signUpForm.lastName.$invalid && !signUpForm.lastName.$pristine">Last name required</p> 
                </div>
                
<!-- Birthdate -->
                <div class="form-group" ng-class="{'has-error' : signUpForm.birth.$invalid && !signUpForm.birth.$pristine, 'has-success' : signUpForm.birth.$valid}">
                    <label for="birth">Birthdate</label>
                    <input id="birth" name="birth" type="date" class="form-control" placeholder="your birthdate" ng-model="date" required>
                    <p class="help-block" ng-show="Date.parse(signUpForm.birth).$invalid && !Date.parse(signUpForm.birth).$pristine">Must be a valid date</p>
                </div>
                
<!-- Password -->
                <div class="form-group" ng-class="{'has-error' : signUpForm.password.$invalid && !signUpForm.password.$pristine, 'has-success' : signUpForm.password.$valid}">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" class="form-control" placeholder="your password" ng-model="password" required>
                    <p class="help-block" ng-show="signUpForm.password.$invalid && !signUpForm.password.$pristine">Password required</p>
                </div>
<!-- Password Confrim -->
                <div class="form-group" ng-class="{'has-error' : signUpForm.confirmPassword.$invalid && !signUpForm.confirmPassword.$pristine, 'has-success' : signUpForm.confirmPassword.$valid}">
                    <label for="confirm">Confirm Password</label>
                    <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" placeholder="your password" ng-model="confirmPassword" ng-keyup="password()" required>
                    <p class="help-block" ng-show="signUpForm.confirmPassword.$invalid && !signUpForm.confirmPassword.$pristine">Password confirmation required</p>              
                </div>
                <br>
                <div>
                    <button class="btn btn-danger" ng-click="reset()">Reset</button>
                    <button class="btn btn-success" type="submit" ng-model="submit" ng-disabled="signUpForm.$invalid || signUpForm.$pristine" ng-click="successMessage()">Sign Me Up!</button>
                </div>
            </form>
        </div>
        <!--angular-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <!--js script-->
        <script src="js/app.js"></script>
    </body>
</html>
